html {
  scroll-behavior: smooth;
}

/* ----------HEADER----------*/
#sky {
  width: 100%;
  height: 300px;
}

.hallo {
  width: 100%;
  padding-left: 2rem;
  margin-bottom: 30px;
  color: rgb(27 197 250)
}

/* ----------BODY----------*/
body {
  margin-bottom: 100px;
}

/* -- bild und name -- */
.profil-head {
  display: flex;
}

#profil {
  width: 25%;
  margin: 1rem 4rem 2rem 0;
}

.info {
  font-size: 2rem;
  align-self: center;
}

li {
  list-style-type: none;
}

/* -- bild und name END -- */

p {
  font-size: 2rem;
}

h2 {
  color: rgb(27 197 250)
}

.menu {
  background-color: rgb(76 224 253 / 42%);
  position: absolute;
  letter-spacing: 1px;
  border-radius: 2rem;
  right: 23px;
  top: 347px;
}

.nav-item {
  padding: 1rem;
  font-size: 130%;
}

a {
  color: #0065ffc4 !important;
}

a:hover {
  text-decoration: none !important;
}

img {
  width: 555px
}

/* ----------FOOTER----------*/
footer {
  padding-top: 30px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fafafa;

}

.material-icons {
  vertical-align: middle;
}

.mbtn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: 2.25rem;
  color: #fff;
  background-color: #1bc5fac2;
  border-color: #1bc5fac2;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .26);
}

.mbtn:hover {
  background-color: #06b8f0c2;
  border-color: #06b8f0c2;
  color: #f8f8f8
}

.btn-position {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

@media (max-width: 992px) {
  .menu {
    display: flex;
    justify-content: space-around;
    position: static;
    border-radius: 2rem;
    margin: 0 1rem 1rem 1rem;
  }

  .nav-item {
    padding: 1rem 3rem;
    font-size: 170%;
  }

  #profil {
    width: 30%;
    height: auto;
  }

  .mbtn {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4.25rem;
  }

  .material-icons {
    font-size: 45px !important;
  }
}